In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df= df.drop(["EIN","NAME"],axis= 1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Look at APPLICATION_TYPE value counts for binning
app_counts= application_df.APPLICATION_TYPE.value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_counts[app_counts < 250].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
class_counts= application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# Determine which values to replace if counts are less than ..?
replace_class= list(class_counts[class_counts < 1600].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# Generate our categorical variable lists
application_cat = ["APPLICATION_TYPE",
                    "AFFILIATION",            
                    "CLASSIFICATION",         
                    "USE_CASE",             
                    "ORGANIZATION",                               
                    "INCOME_AMT",          
                    "SPECIAL_CONSIDERATIONS"]

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/Users/victoralvarado/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [27]:
# Merge one-hot encoded features and drop the originals
df = application_df.merge(encode_df,left_index=True,right_index=True)
df = df.drop(["APPLICATION_TYPE","APPLICATION_TYPE_Other",
                    "AFFILIATION",            
                    "CLASSIFICATION",         
                    "USE_CASE",             
                    "ORGANIZATION",                               
                    "INCOME_AMT",          
                    "SPECIAL_CONSIDERATIONS",
             "SPECIAL_CONSIDERATIONS_N"],1)
df

/Users/victoralvarado/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  # Remove the CWD from sys.path while we load stuff.

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [28]:
# Split our preprocessed data into our features and target arrays
y = df["IS_SUCCESSFUL"].values
X = df.drop(["IS_SUCCESSFUL"],1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

/Users/victoralvarado/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features=41
hidden_nodes_layer1= 60
hidden_nodes_layer2=40
#hidden_nodes_layer3 = 10
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
tf.keras.layers.Dense(units=hidden_nodes_layer1,input_dim=number_input_features,activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2,activation="relu"))
# Third hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 60)                2520
_________________________________________________________________
dense_22 (Dense)             (None, 40)                2440
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 41
=================================================================
Total params: 5,001
Trainable params: 5,001
Non-trainable params: 0
_________________________________________________________________

In [38]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [39]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 561us/step - loss: 80728.2263 - accuracy: 0.4896
Epoch 2/100
804/804 [==============================] - 0s 554us/step - loss: 12914.7456 - accuracy: 0.4864
Epoch 3/100
804/804 [==============================] - 0s 563us/step - loss: 22665.9530 - accuracy: 0.4959
Epoch 4/100
804/804 [==============================] - 0s 553us/step - loss: 13239.8991 - accuracy: 0.4966
Epoch 5/100
804/804 [==============================] - 0s 549us/step - loss: 19446.2636 - accuracy: 0.4985
Epoch 6/100
804/804 [==============================] - 0s 554us/step - loss: 8000.8336 - accuracy: 0.5158
Epoch 7/100
804/804 [==============================] - 0s 548us/step - loss: 38343.8345 - accuracy: 0.5039
Epoch 8/100
804/804 [==============================] - 0s 551us/step - loss: 20785.6306 - accuracy: 0.5213
Epoch 9/100
804/804 [==============================] - 0s 549us/step - loss: 6373.0072 - accuracy: 0.5357
Epoch 10/100
804/804 [==============================] - 0s 547us/step - loss: 5035.5350 - accuracy: 0.5108
Epoch 11/100
804/804 [==============================] - 0s 551us/step - loss: 8959.6289 - accuracy: 0.5087
Epoch 12/100
804/804 [==============================] - 0s 550us/step - loss: 11780.0757 - accuracy: 0.4847
Epoch 13/100
804/804 [==============================] - 0s 554us/step - loss: 3884.1893 - accuracy: 0.5186
Epoch 14/100
804/804 [==============================] - 0s 546us/step - loss: 4911.2869 - accuracy: 0.5373
Epoch 15/100
804/804 [==============================] - 0s 555us/step - loss: 3422.7357 - accuracy: 0.4863
Epoch 16/100
804/804 [==============================] - 0s 551us/step - loss: 1681.6355 - accuracy: 0.5000
Epoch 17/100
804/804 [==============================] - 0s 555us/step - loss: 380.4322 - accuracy: 0.5030
Epoch 18/100
804/804 [==============================] - 0s 558us/step - loss: 0.7228 - accuracy: 0.5391
Epoch 19/100
804/804 [==============================] - 0s 551us/step - loss: 0.6921 - accuracy: 0.5268
Epoch 20/100
804/804 [==============================] - 0s 557us/step - loss: 0.6905 - accuracy: 0.5365
Epoch 21/100
804/804 [==============================] - 0s 558us/step - loss: 0.6910 - accuracy: 0.5336
Epoch 22/100
804/804 [==============================] - 0s 560us/step - loss: 0.6906 - accuracy: 0.5364
Epoch 23/100
804/804 [==============================] - 0s 550us/step - loss: 0.6905 - accuracy: 0.5378
Epoch 24/100
804/804 [==============================] - 0s 550us/step - loss: 0.6911 - accuracy: 0.5328
Epoch 25/100
804/804 [==============================] - 0s 555us/step - loss: 0.6901 - accuracy: 0.5397
Epoch 26/100
804/804 [==============================] - 0s 550us/step - loss: 0.6906 - accuracy: 0.5367
Epoch 27/100
804/804 [==============================] - 0s 554us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 28/100
804/804 [==============================] - 0s 556us/step - loss: 0.6915 - accuracy: 0.5298
Epoch 29/100
804/804 [==============================] - 0s 550us/step - loss: 0.6910 - accuracy: 0.5342
Epoch 30/100
804/804 [==============================] - 0s 565us/step - loss: 0.6913 - accuracy: 0.5302
Epoch 31/100
804/804 [==============================] - 0s 553us/step - loss: 0.6910 - accuracy: 0.5340
Epoch 32/100
804/804 [==============================] - 0s 552us/step - loss: 0.6915 - accuracy: 0.5291
Epoch 33/100
804/804 [==============================] - 0s 551us/step - loss: 0.6914 - accuracy: 0.5305
Epoch 34/100
804/804 [==============================] - 0s 553us/step - loss: 0.6905 - accuracy: 0.5373
Epoch 35/100
804/804 [==============================] - 0s 552us/step - loss: 0.6918 - accuracy: 0.5268
Epoch 36/100
804/804 [==============================] - 0s 557us/step - loss: 0.6903 - accuracy: 0.5381
Epoch 37/100
804/804 [==============================] - 0s 552us/step - loss: 0.6916 - accuracy: 0.5291
Epoch 38/100
804/804 [==============================] - 0s 551us/step - loss: 0.6917 - accuracy: 0.5284
Epoch 39/100
804/804 [==============================] - 0s 553us/step - loss: 0.6913 - accuracy: 0.5312
Epoch 40/100
804/804 [==============================] - 0s 553us/step - loss: 0.6915 - accuracy: 0.5303
Epoch 41/100
804/804 [==============================] - 0s 554us/step - loss: 0.6916 - accuracy: 0.5299
Epoch 42/100
804/804 [==============================] - 0s 556us/step - loss: 0.6914 - accuracy: 0.5315
Epoch 43/100
804/804 [==============================] - 0s 551us/step - loss: 0.6908 - accuracy: 0.5350
Epoch 44/100
804/804 [==============================] - 0s 559us/step - loss: 0.6912 - accuracy: 0.5321
Epoch 45/100
804/804 [==============================] - 0s 558us/step - loss: 0.6914 - accuracy: 0.5304
Epoch 46/100
804/804 [==============================] - 0s 554us/step - loss: 0.6913 - accuracy: 0.5320
Epoch 47/100
804/804 [==============================] - 0s 565us/step - loss: 0.6913 - accuracy: 0.5319
Epoch 48/100
804/804 [==============================] - 0s 554us/step - loss: 0.6906 - accuracy: 0.5365
Epoch 49/100
804/804 [==============================] - 0s 557us/step - loss: 0.6909 - accuracy: 0.5348
Epoch 50/100
804/804 [==============================] - 0s 556us/step - loss: 0.6910 - accuracy: 0.5354
Epoch 51/100
804/804 [==============================] - 0s 551us/step - loss: 0.6911 - accuracy: 0.5344
Epoch 52/100
804/804 [==============================] - 0s 558us/step - loss: 0.6912 - accuracy: 0.5327
Epoch 53/100
804/804 [==============================] - 0s 556us/step - loss: 0.6912 - accuracy: 0.5338
Epoch 54/100
804/804 [==============================] - 0s 558us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 55/100
804/804 [==============================] - 0s 554us/step - loss: 0.6906 - accuracy: 0.5366
Epoch 56/100
804/804 [==============================] - 0s 552us/step - loss: 0.6918 - accuracy: 0.5277
Epoch 57/100
804/804 [==============================] - 0s 555us/step - loss: 0.6913 - accuracy: 0.5323
Epoch 58/100
804/804 [==============================] - 0s 557us/step - loss: 0.6915 - accuracy: 0.5291
Epoch 59/100
804/804 [==============================] - 0s 569us/step - loss: 0.6911 - accuracy: 0.5339
Epoch 60/100
804/804 [==============================] - 0s 561us/step - loss: 0.6910 - accuracy: 0.5324
Epoch 61/100
804/804 [==============================] - 0s 553us/step - loss: 0.6904 - accuracy: 0.5368
Epoch 62/100
804/804 [==============================] - 0s 557us/step - loss: 0.6915 - accuracy: 0.5306
Epoch 63/100
804/804 [==============================] - 0s 557us/step - loss: 0.6911 - accuracy: 0.5327
Epoch 64/100
804/804 [==============================] - 0s 557us/step - loss: 0.6912 - accuracy: 0.5329
Epoch 65/100
804/804 [==============================] - 0s 554us/step - loss: 0.6910 - accuracy: 0.5352
Epoch 66/100
804/804 [==============================] - 0s 554us/step - loss: 0.6903 - accuracy: 0.5383
Epoch 67/100
804/804 [==============================] - 0s 555us/step - loss: 0.6913 - accuracy: 0.5331
Epoch 68/100
804/804 [==============================] - 0s 553us/step - loss: 0.6912 - accuracy: 0.5334
Epoch 69/100
804/804 [==============================] - 0s 553us/step - loss: 0.6909 - accuracy: 0.5331
Epoch 70/100
804/804 [==============================] - 0s 553us/step - loss: 0.6909 - accuracy: 0.5352
Epoch 71/100
804/804 [==============================] - 0s 557us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 72/100
804/804 [==============================] - 0s 570us/step - loss: 0.6909 - accuracy: 0.5351
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6911 - accuracy: 0.5368
Epoch 74/100
804/804 [==============================] - 0s 557us/step - loss: 0.6907 - accuracy: 0.5357
Epoch 75/100
804/804 [==============================] - 0s 556us/step - loss: 0.6915 - accuracy: 0.5301
Epoch 76/100
804/804 [==============================] - 0s 546us/step - loss: 0.6912 - accuracy: 0.5333
Epoch 77/100
804/804 [==============================] - 0s 556us/step - loss: 0.6915 - accuracy: 0.5307
Epoch 78/100
804/804 [==============================] - 0s 546us/step - loss: 0.6910 - accuracy: 0.5347
Epoch 79/100

804/804 [==============================] - 0s 543us/step - loss: 0.6914 - accuracy: 0.5327
Epoch 80/100
804/804 [==============================] - 0s 539us/step - loss: 0.6909 - accuracy: 0.5350
Epoch 81/100
804/804 [==============================] - 0s 540us/step - loss: 0.6905 - accuracy: 0.5377
Epoch 82/100
804/804 [==============================] - 0s 542us/step - loss: 0.6917 - accuracy: 0.5293
Epoch 83/100
804/804 [==============================] - 0s 549us/step - loss: 0.6905 - accuracy: 0.5373
Epoch 84/100
804/804 [==============================] - 0s 552us/step - loss: 0.6913 - accuracy: 0.5312
Epoch 85/100
804/804 [==============================] - 0s 559us/step - loss: 0.6915 - accuracy: 0.5302
Epoch 86/100
804/804 [==============================] - 0s 555us/step - loss: 0.6905 - accuracy: 0.5380
Epoch 87/100
804/804 [==============================] - 0s 556us/step - loss: 0.6915 - accuracy: 0.5296
Epoch 88/100
804/804 [==============================] - 0s 553us/step - loss: 0.6917 - accuracy: 0.5296
Epoch 89/100
804/804 [==============================] - 0s 551us/step - loss: 0.6907 - accuracy: 0.5365
Epoch 90/100
804/804 [==============================] - 0s 555us/step - loss: 0.6911 - accuracy: 0.5326
Epoch 91/100
804/804 [==============================] - 0s 552us/step - loss: 0.6907 - accuracy: 0.5379
Epoch 92/100
804/804 [==============================] - 0s 556us/step - loss: 0.6912 - accuracy: 0.5326
Epoch 93/100
804/804 [==============================] - 0s 553us/step - loss: 0.6912 - accuracy: 0.5323
Epoch 94/100
804/804 [==============================] - 0s 552us/step - loss: 0.6914 - accuracy: 0.5320
Epoch 95/100
804/804 [==============================] - 0s 554us/step - loss: 0.6915 - accuracy: 0.5308
Epoch 96/100
804/804 [==============================] - 0s 568us/step - loss: 0.6909 - accuracy: 0.5345
Epoch 97/100
804/804 [==============================] - 0s 552us/step - loss: 0.6907 - accuracy: 0.5358
Epoch 98/100
804/804 [==============================] - 0s 554us/step - loss: 0.6912 - accuracy: 0.5314
Epoch 99/100
804/804 [==============================] - 0s 554us/step - loss: 0.6906 - accuracy: 0.5369
Epoch 100/100
804/804 [==============================] - 0s 552us/step - loss: 0.6912 - accuracy: 0.5332